<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Rediriger toutes les requêtes vers le fichier correspondant
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^v1/(.*)$ v1/.php [L,QSA]
    
    # Rediriger les requêtes sans /v1/ vers /v1/
    RewriteCond %{REQUEST_URI} !^/v1/
    RewriteRule ^(.*)$ v1/ [L,QSA]
</IfModule>

# Activer les en-têtes CORS
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"
